@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  /* button */
  --button-default-color : #171717;
  --button-default-background: #ffffff;
  --button-default-background-success : #455927;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.MuiDrawer-modal .MuiDrawer-paperAnchorRight{
  width: 30%;
}

h2 {
  color: #FFF;
  text-align: center;
  font-family: 'TestSohne-Fett', sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 88.5%; /* 84.96px */
  text-transform: uppercase;
}

h3 {
  color: #FFF;
  text-align: center;
  font-family: 'TestSohne-Fett', sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 900;
  line-height: 88.5%; /* 84.96px */
  text-transform: uppercase;
}

p, div {
  font-family: "Aeonik TRIAL Lighter",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

p {
  font-size: 20px;
}

.font-aeonik {
  font-family: "Aeonik TRIAL", sans-serif;
}

.font-aeonik-bold {
  font-family: "Aeonik TRIAL BOLD", sans-serif;
}

/* Buch: Regular (Bình thường).
Leicht: Light (Nhẹ).
Halbfett: Semi-Bold (Nửa đậm).
Fett: Bold (Đậm).
Extrafett: Extra Bold (Rất đậm).
Kursiv/Italic: Nghiêng.
Monospace: Font có chiều rộng ký tự đều. */



.custom-header-menu span {
  font-family: "TestSohne-Extrafett", sans-serif;
  font-size: 86px;
  font-weight: 900;
}

.banner-home {
  height: 1289px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.scroll-down-icon {
  animation: bounce 2s infinite;
}